RewriteEngine on

RewriteCond %{HTTP_HOST} ^thlhmahavidyalay.in$ [NC]
RewriteRule ^(.*)$ http://www.thlhmahavidyalay.in/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*?)_(.*?)/$ /list.php?id=$1&postname=$2
RewriteRule ^sitemap(.*?)\.xml$ /list.php?sitemap&page=$1
RewriteRule ^(aggdb)$ /index.php